<h3> Bonjour, </h3>
<br /><br />
<h5>Si vous avez fais une demande de réinitialisation de votre mot de passe,
  <a href='http://localhost:3000/auth/reset-password?token={{token}}'>cliquez
    sur ce lien</a>
</h5>